@import "@/assets/scss/reset.scss";
@import "@/assets/scss/fonts/fonts.scss";
@import "@/assets/scss/colors.scss";
@import "@/assets/scss/animations.scss";
@import "@/assets/scss/responsive.scss";



h2 {
    font-size: 60px;
    font-family: $Helvetica_bold;
    line-height: 5.5rem;
  }
  h3 {
    font-size: 28px;
    font-family: $Helvetica_roman;
    line-height: 2.5rem;
  }
  h4 {
    font-size: 20px;
    font-family: $Helvetica_roman;
  }
  button {
    background-color: transparent;
  }
  span {
    font-family: $Helvetica_bold;
  }
  p{
    font-size: 18px;
    font-family: $Helvetica_normal;
    line-height: 3rem;
  }

  input[type="text"] {
    background-color: transparent;
    border: 1px solid $black;
    height: 50px;
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
  }
  ::-webkit-input-placeholder {
    color: black!important;
    opacity: 80%;

}
:-moz-placeholder {
    color: black!important;
    opacity: 80%;

}
::-moz-placeholder {
    color: black!important;
    opacity: 80%;

}
:-ms-input-placeholder {
    color: black!important;
    opacity: 80%;


}
::-ms-input-placeholder {
    color: black!important;
    opacity: 80%;


}

::placeholder {
    color: black!important;
    opacity: 80%;

}
  
  input[type="checkbox"] {
    visibility: hidden;
  }
  label {
    cursor: pointer;
  }
  input[type="checkbox"] + label:before {
    border: 1px solid $black;
    content: "\00a0";
    display: inline-block;
    font-family: $Helvetica_roman;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: middle;
  }
  input[type="checkbox"]:checked + label:before {
    background: transparent;
    color: $black;
    content: "\2713";
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }
  
  input[type="checkbox"]:focus + label::before {
      outline: rgb(59, 153, 252) auto 5px;
  }


  